<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel Intranet</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Firma.Intranet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="vh-100 overflow-hidden d-flex flex-column flex-lg-row">
    
            @* topbar widoczny na mniejszych ekranach *@
            <div class="topbar-mobile d-lg-none d-flex justify-content-between align-items-center py-1 px-4 border-bottom">
                <a class="brand-text accent-content" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" class="topbar-logo" /> HOTEL
                </a>
                <button class="hamburger accent-content btn btn-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                    <i class="bi bi-list"></i>
                </button>
            </div>

            @* caly sidebar *@
            <aside class="sidebar offcanvas-lg offcanvas-start d-flex flex-column" id="sidebar">

                @* header z logo dla duzych ekranow *@
                <div class="sidebar-header-desktop offcanvas-header d-none d-lg-flex order-1 px-2">                    
                    <a class="brand-text accent-content" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" class="sidebar-logo" /> HOTEL
                    </a>
                </div>

                @* header menu, przycisk do wylaczania ukryty na duzych ekranach *@
                <div class="sidebar-header offcanvas-header d-flex order-1 px-lg-4">
                    <h5 class="menu-title offcanvas-title">MENU</h5>
                    <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
                </div>

                @* obszar z danymi uzytkownika i wylogowywaniem *@
        <div class="user-profile-area d-flex align-items-center gap-3 py-lg-3 px-lg-4 p-3 order-2 order-lg-3 mt-lg-auto">
                    
                    <div class="user-icon accent-content">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="user-name">Jan Kowalski</span>
                        <span class="user-role">Administrator</span>
                    </div>
                                     
                    <a href="/" class="logout">
                         <i class="bi bi-box-arrow-right"></i>
                    </a>
                </div>

                @* opcje menu w sidebarze *@
                <div class="sidebar-body offcanvas-body d-flex flex-column overflow-y-auto order-3 order-lg-2 p-2">


                    @{ var currentController = ViewContext.RouteData.Values["controller"]?.ToString();}
                    <ul class="sidebar-nav nav nav-pills flex-column">
                        <li class="nav-item ">
                            <a class="nav-link @(currentController == "Home" ? "active" : "")" aria-current="@(currentController == "Home" ? "page" : null)" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-grid"></i> Panel główny</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Room" ? "active" : "")" aria-current="@(currentController == "Room" ? "page" : null)" asp-area="" asp-controller="Room" asp-action="Index"><i class="bi bi-door-open"></i> Pokoje</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link @(currentController == "RoomType" ? "active" : "")" aria-current="@(currentController == "RoomType" ? "page" : null)" asp-area="" asp-controller="RoomType" asp-action="Index"><i class="bi bi-tag"></i> Typy pokojów</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Reservation" ? "active" : "")" aria-current="@(currentController == "Reservation" ? "page" : null)" asp-area="" asp-controller="Reservation" asp-action="Index"><i class="bi bi-calendar3"></i> Rezerwacje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Amenity" ? "active" : "")" aria-current="@(currentController == "Amenity" ? "page" : null)" asp-area="" asp-controller="Amenity" asp-action="Index"><i class="bi bi-star"></i> Udogodnienia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Service" ? "active" : "")" aria-current="@(currentController == "Service" ? "page" : null)" asp-area="" asp-controller="Service" asp-action="Index"><i class="bi bi-bell"></i> Serwisy dodatkowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Guest" ? "active" : "")" aria-current="@(currentController == "Guest" ? "page" : null)" asp-area="" asp-controller="Guest" asp-action="Index"><i class="bi bi-people"></i> Goście</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Payment" ? "active" : "")" aria-current="@(currentController == "Payment" ? "page" : null)" asp-area="" asp-controller="Payment" asp-action="Index"><i class="bi bi-credit-card-2-back"></i> Płatności</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Page" ? "active" : "")" aria-current="@(currentController == "Page" ? "page" : null)" asp-area="" asp-controller="Page" asp-action="Index"><i class="bi bi-file-text"></i> Strony</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "News" ? "active" : "")" aria-current="@(currentController == "News" ? "page" : null)" asp-area="" asp-controller="News" asp-action="Index"><i class="bi bi-newspaper"></i> Ogłoszenia</a>
                        </li>
                    
                    </ul>
                </div>            
            </aside>
        
        @* content glowny gdzie renderowane sa widoki i footer *@
        <div class="main-content-wrapper d-flex flex-column overflow-hidden flex-grow-1">
            <main class="main-content overflow-y-auto p-3 p-lg-5">
                <div class="container-fluid">
                    @RenderBody()
                </div>
             
            </main>
            <footer class="flex-shrink-0 mt-auto">
                <span class="">Hotel Siemanko - 2026</span>
            </footer>
        </div>
    

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
