@using Firma.Data.Data.CMS.Enums

@model IEnumerable<Firma.Data.Data.CMS.Page>


<div class="navbar-collapse collapse" id="navbarContent">
    <ul class="navbar-nav nav-left w-50 justify-content-end ">
        @foreach(var item in Model)
        {
            if(item.PageMenuArea == PageMenuArea.LEFT)
            {
                <li class="nav-item">
                    <a class="nav-link @(item.IsLinkCTA ? "nav-cta" : "")" asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-id="@item.Id">@item.LinkTitle.ToUpper()</a>
                </li>
            }
        }
    </ul>

    <a class="desktop-brand d-none d-lg-block" asp-area="" asp-controller="Home" asp-action="Index">
        <img class="logo" src="~/content/logo.png" />
    </a>

    <ul class="navbar-nav nav-right w-50 d-flex justify-content-start">
        @foreach (var item in Model)
        {
            if (item.PageMenuArea == PageMenuArea.RIGHT)
            {
                <li class="nav-item">
                    <a class="nav-link @(item.IsLinkCTA ? "nav-cta" : "")" asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-id="@item.Id">@item.LinkTitle.ToUpper()</a>
                </li>
            }
        }
    </ul>
</div>